* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Noto Sans JP', sans-serif;
}
/* Mix */
.list-inline > li  {
  display: inline-block;
}

/* Stile Header */
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#logo {
  max-width: 50px;
  vertical-align: middle;
}
.nav-left li a {
  margin-left: 40px;
}
.nav-left li a , .nav-right li a {
  text-decoration: none;
  color: #4e605d;
  font-size: 14px;

}
.nav-left li a:hover , .nav-right li a:hover {
  color: black;
}
.nav-left , .nav-right {
  align-self: center;
}
.nav-right a {
  margin-left: 60px;
}
/* Stile menu-dropdown */
.dropdown-menu {
  position: absolute;
  display: none;
  margin-top: 20px;
  margin-left: 50px;
  border-radius: 14px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.dropdown-menu ul {
  list-style: none;
  line-height: 40px;
  text-align: center;
  padding: 10px;
}
.dropdown-menu li a {
  color: #c0c2cd;
  font-size: 11px;
  margin: auto;
}

.btn-nav {
  padding: 20px;
}
.btn-1 , .btn-2 {
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.btn-1:focus , .btn-2:focus {
  outline: transparent;
}
.btn-1 {
  background-color: lightgrey;
  border: transparent;
  outline: hidden;
  font-weight: bold;
}
.btn-2 {
  background-color: #000;
  border: transparent;
  color: #fff;
  outline: hidden;
  font-weight: bold;
}
